<div class="row">
    {{#each imageList}}
    <div class="col-md-4">
        <div class="text-success" style="font-size: large;
            font-weight: 700;">{{this.name}}</div>
        <img src="./../{{this.src}}">
    </div>
    {{/each}}
</div>